@import './custom';
@import '~bootstrap';

@import './components/base';
@import './components/navbar';
@import './components/hero';
@import './components/benefits';
@import './components/categories';
@import './components/cta';
@import './components/histories';
@import './components/contact';
@import './components/info';
@import './components/footer';
