.benefits{
  padding: 40px 0;
  background-color: $primary;

  .benefits-item{    
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: -0.01em;
    padding: 20px 0;
    border: 1px solid white;
    border-radius: 8px 0 8px 0;
    svg{
      margin-right: 8px;
    }
  }
}

@media (max-width: 767px) {
  .benefits{  
    .benefits-item{
      margin-bottom: 24px;
    }
  }
}