.contact{
  padding: 80px 0;
  background-color: $secondary;
  color: white;

  h3{
    text-align: center;
    margin-bottom: 50px;
  }
  
  .form-group{
    label{
      color: white;
    }
    .form-control{
      background-color: $secondary;
      color: white;
    }
  }
  .custom-control{
    // background-color: red;
    margin-bottom: 8px;
  }

  .button{
    //background-color: red;
    display: flex;
    align-items: center;
  }
}