.hero{
  background-color: #000;
  position: relative;
  height: 600px;

  .content{
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    &.bg{
      background-image: url('../../statics/hero-1.jpg');
      background-size: cover;
      background-position: center center;
      color: white;
      opacity: 0.5;
    }  
    &.caption{
      padding-top: 100px;

      display: flex;
      align-items: center;
      justify-content: center;

      h1{
        font-size: 3em;
        margin-bottom: 16px;
        font-weight: 700;
      }
      h3{
        font-size: 1.8em;
        margin-bottom: 40px;
      }
      h1,h3{
        color: white;
      }
      .btn{
        text-transform: uppercase;
        color: white;
        &:hover{
          color: $black;
        }
      }
    }
  }  

}

@media (max-width: 767px) {
  .hero{
    padding-top: 0px;
    height: 640px;
  
    .content{
      height: 640px;
      &.caption{
        padding-top: 50px;
        text-align: center;
        h1{
          font-size: 1.8em;
          font-weight: 700;
        }
        h3{
          font-size: 1.4em;
          margin-bottom: 30px;
        }
        h1,h3{
          color: white;
          font-weight: 700;
        }
        .btn{
          margin-bottom: 50px;
        }
        .logo{
          height: 140px;
        }
      }
    }  
  
  }
  
}