.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
  
  &.isTanks{
    background-color: $secondary;
  }

  .navbar-brand{
    display: flex;
    img{
      height: 30px;
    }
  }

  .navbar-nav{
    img{
      height: 40px;
    }
  }
}

@media (max-width: 767px) {
  .navbar{
    padding-top: 20px;
    padding-bottom: 16px;
  
    .navbar-brand{
      img{
        height: 22px;
      }
    }
    .navbar-nav{
      img{
        height: 32px;
      }
    }
  }
}