.tanks{
  //background-color: red;
  padding-top: 200px;
  text-align: center;
  margin-bottom: 100px;

  h3{
    color: $primary;
    margin-bottom: 20px;
  }

  .btn{
    margin: 50px 0;
  }
}

@media (max-width: 767px) {
  .tanks{
    padding-top: 140px;
    text-align: center;
  
    h3{
      color: $primary;
      margin-bottom: 30px;
    }
  
    .btn{
      margin: 30px 0;
    }
  }
}